<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.hb7live"
    tools:ignore="MissingLeanbackLauncher">

    <uses-feature
        android:name="android.socftware.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-permission android:name="android.permission." />

    <application
        android:allowBackup="true"
        android:icon="@drawable/banner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Example.LeanbackLauncher"
        android:banner="@drawable/banner"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@drawable/banner"
            android:label="@string/app_name"
            android:logo="@drawable/banner"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".live.DetailViewActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.LeanbackDetails">
        </activity>

        <activity android:name=".playback.PlaybackActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.Leanback">
        </activity>

        <activity android:name=".playback.SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.LeanbackPreferences">
        </activity>

        <receiver android:name=".StartActivityOnBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".utils.FetchVideoService"
            android:exported="false" />
        <provider
            android:name=".playback.VideoProvider"
            android:authorities="${packageName}"
            android:permission="${applicationId}.ACCESS_VIDEO_DATA"
            android:exported="true">
            <path-permission
                android:pathPrefix="/search"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
        </provider>
    </application>

</manifest>